<header class="flex justify-between font-extrabold p-6 fixed w-full z-1000 text-white mix-blend-exclusion">
    <a href="/" class="flex gap-3 self-center">
        <img src="/LogoLOSTARCHIVES.svg" alt="Lost Archives Logo" class="h-16 w-16 object-contain mix-blend-difference"/>
        <div class="uppercase flex flex-col -space-y-2 text-2xl">
            <h1>Lost</h1>
            <h1>Archives</h1>
        </div>
    </a>
    <a href="/" class="self-center text-xl ">
        MENU
    </a>
</header>